body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
}

.container h3{
    color: #EEEEEE;
    font-family: "Verdana", sans-serif;
}

.container span{
    color: white;
    border: 1px solid white;
    margin-left: 25px;
}

.container button{
    background-color: #1B244A;
    border: 2px solid #9AABD8;
    border-radius: 5px;
}